<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">

<head>
    <title>Binette Book</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://www.cegepgarneau.ca/favicon.ico" />
    <link rel="stylesheet" href="{{url_for('static', filename='/css/styles.css')}}" />
</head>

<body>
    {% block contenu %}
    {% endblock %}

    <footer>
{% if session.utilisateur %}
        Authentifié en tant que <em>{{session.utilisateur[1]}}</em>. <a href="{{url_for('compte.deconnecter')}}">Se déconnecter</a>
{% else %}
        <a href="{{url_for('compte.authentifier')}}">S'authentifier</a> ou <a href="{{url_for('compte.creer')}}">Créer un compte</a>
{% endif %}
    </footer>
</body>

</html>